@font-face {
    font-family: 'Montserrant-ExtraBold';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrant-SemiBold';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrant-Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrant-Medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AstrumScriptCyrillic';
    src: url('../assets/fonts/AstrumScriptCyrillic_Light.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('../assets/fonts/Rubik-Bold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../assets/fonts/Rubik-Light.ttf');
    font-style: normal;
    font-display: swap;
}
