*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.welcome_pg {
    position: relative;
    overflow: hidden;
    height: 720px;
    background-image: url("../assets/images/home/hero-bg.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1183px;
    margin: 0 auto;
}

.header_title {
    font-family: 'Montserrant-ExtraBold', sans-serif, Arial;
    color: #ffffff;
    font-size: 20px;
}

.dot {
    color: #ff8d29;
}

.title {
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 10px auto;
    gap: 30px;
}

.nav_text {
    font-family: 'Montserrant-SemiBold', sans-serif, Arial;
    color: #f1d6c6;
    font-size: 14px;
}

.nav_text:hover {
    color:#ff8d29;
    transition: color 0.6s ease;
}

.case {
    display: flex; 
    gap: 40px;    
}

.btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 45px;
    border-radius: 5px;
    background-color: #ff8d29;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Montserrant-SemiBold', sans-serif, Arial;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 20px;
    width: 1px;
    height: 1px;
    transform: translate(-50%, 51%) scale(var(--scale, 1));
    border-radius: 50%;
    background-color: #0f1318;
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn:is(:hover, :focus)::after {
    --scale: 500;
}

.header_border {
    border-bottom: 1px solid hsla(23, 61%, 86%, 0.2);
    padding: 23px 0;
}

.text_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1183px;
    margin: 0 auto;
    padding: 160px 0 0 0;
}

.roman_text {
    font-size: 55px;
    font-family: 'AstrumScriptCyrillic', sans-serif, Arial;
    color: #de4f1b;
}

.main_text {
    font-size: 57px;
    font-family: 'Rubik-Bold', sans-serif, Arial;
    color: #f1d6c6;
    padding: 20px 0;
}

.desc_text {
    font-size: 22px;
    font-family: 'Rubik-Light', sans-serif, Arial;
    color: #f1d6c6;
    padding: 0 0 20px 0;
}

.btn_book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 152px;
    height: 45px;
    background-color: #ff8d29;
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Montserrant-Bold', sans-serif, Arial;
    font-size: 13px;
}

.bg_shape,
.bg_icons,
.bg_ramen {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.bg_shape {
    right: -150px;
    bottom: -25px;
    width: 1700px;
    z-index: 0;
    rotate: 10deg;
}

.bg_icons {
    right: 0;
    right: -70px;
    top: 40px;
    width: 1100px;
    z-index: 1;
    rotate: -10deg;
}

.bg_ramen {
    right: -90px;
    top: 45px;
    width: 900px;
    z-index: 2;
    rotate: 8.5deg;
}

.header_border,
.main_header {
    position: relative;
    z-index: 3;
}

.positions {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.popular_positions {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1180px;
    height: 840px;
}

body {
    background-color: #f9f6f1;
}

.item_case {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 286px;
    height: 539px;
    padding: 48px 40px 30px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.item_icon {
    height: 75px;
    width: 90px;
}

.item_image {
    height: 186px;
    width: 188px;
    margin-top: auto;
    flex-shrink: 0;   
}

.item_title {
    color: #000000;
    font-family: 'Montserrant-ExtraBold', sans-serif, Arial;
    padding: 18px 0 0 0;
}

.item_description {
    color: #a2a2a2;
    font-family: 'Montserrant-Medium', sans-serif, Arial;
    padding: 44px 0 0;
    flex-grow: 1; 
    text-align: center;
}

.item_case::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #FF9D2E;
    clip-path: polygon(0 81%, 100% 70%, 100% 100%, 0 100%);
    z-index: -1;
}