@import "fonts.css";

a {
    text-decoration: none;
}

.body {
    background-color: #f9f6f1;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}
